Load the libaries & Data

In [1]:
import pandas as pd
import numpy as np
np.set_printoptions(suppress=True)

all_data=pd.read_csv('opp.csv')
all_data.head()

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
0,1,1,Vic,m,8.0,94.1,60.4,89.0,36.0,74.5,54.5,15.2,28.0,36.0
1,2,1,Vic,f,6.0,92.5,57.6,91.5,36.5,72.5,51.2,16.0,28.5,33.0
2,3,1,Vic,f,6.0,94.0,60.0,95.5,39.0,75.4,51.9,15.5,30.0,34.0
3,4,1,Vic,f,6.0,93.2,57.1,92.0,38.0,76.1,52.2,15.2,28.0,34.0
4,5,1,Vic,f,2.0,91.5,56.3,85.5,36.0,71.0,53.2,15.1,28.5,33.0

In [2]:
all_data=all_data.dropna()
all_data=all_data.drop(['case','Pop','sex','site'],axis=1)
all_data.head()

,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
0,8.0,94.1,60.4,89.0,36.0,74.5,54.5,15.2,28.0,36.0
1,6.0,92.5,57.6,91.5,36.5,72.5,51.2,16.0,28.5,33.0
2,6.0,94.0,60.0,95.5,39.0,75.4,51.9,15.5,30.0,34.0
3,6.0,93.2,57.1,92.0,38.0,76.1,52.2,15.2,28.0,34.0
4,2.0,91.5,56.3,85.5,36.0,71.0,53.2,15.1,28.5,33.0

In [3]:
train_data=all_data.head(52)
test_data=all_data.head(-52)

In [4]:
from statsmodels.nonparametric.kernel_regression import KernelReg
y=train_data['age'].values
x1=train_data['hdlngth'].values
x2=train_data['skullw'].values
x3=train_data['totlngth'].values
x4=train_data['taill'].values
x5=train_data['footlgth'].values
x6=train_data['earconch'].values
x7=train_data['eye'].values
x8=train_data['chest'].values
x9=train_data['belly'].values
model = KernelReg(endog=y, exog= [x1,x2,x3,x4,x5,x6,x7,x8,x9], var_type='ccccccccc')

In [6]:
x1=test_data['hdlngth'].values
x2=test_data['skullw'].values
x3=test_data['totlngth'].values
x4=test_data['taill'].values
x5=test_data['footlgth'].values
x6=test_data['earconch'].values
x7=test_data['eye'].values
x8=test_data['chest'].values
x9=test_data['belly'].values
preds_model=model.fit([x1,x2,x3,x4,x5,x6,x7,x8,x9])
preds=np.round(preds_model[0])
actuals=test_data['age']

data={'actuals': actuals,
     'preds': preds}
comparison=pd.DataFrame(data)
comparison.head()

   actuals  preds
0      8.0    7.0
1      6.0    6.0
2      6.0    6.0
3      6.0    6.0
4      2.0    3.0